.btn {
    background-color: hsl(0, 0%, 90%);
    color: black;
    padding: 0.25em 1em;
    text-decoration: none;
    border: none;
    cursor: pointer;
    font-size: inherit;
    border-radius: 0.2em;
    outline: none;
  }
  .btn:focus,
  .btn:hover {
    background-color: hsl(0, 0%, 70%);
    outline: none;
  }